.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 2rem;
  line-height: 1.6;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content {
  margin-bottom: 1rem;
}
