.container {
  display: flex;
  justify-content: center;
  margin: 25px;
}

.loopcontainer {
  display: flex;
  justify-content: center;
  height: 150px;
  position: relative; 
  overflow: hidden;
}

.image {
  max-width: 300px;
  height: auto;
  border-radius: 200px;
  border: 1px solid #ffffff;
  margin-bottom: 30px;
}

.repoLink {
  cursor: pointer;
}

.repoLink:hover {
  font-weight: 700;
  text-decoration: underline;
}